<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPID</key>
	<string>z3hBkCq2Sh8mJJZFlVS32VNsFDzqUXEWmz0PdMPb</string>
	<key>ClientKey</key>
	<string>gobuxfnFxG53aWL5sx1tk64YxnWlgfE6JIZYuDGX</string>
	<key>Server</key>
	<string>https://parseapi.back4app.com/</string>
</dict>
</plist>
